#site-status > a {
  height: 50px;

  width: 400px;
  padding: 20px 25px;
  margin-top: 5px;

  border: 2px black;
  text-size-adjust: inherit;
  white-space: inherit;
}
.up {
  background-color: green;
  color: white;
}
.down {
  background-color: red;
  color: white;
}
#site-status {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
